@import url("https://fonts.googleapis.com/css?family=Poppins:300,400")
*{
	outline: none!important;	

}
html,body
{
    width: 100%;
   /* height: 100%;
    margin: 0px;
    padding: 0px;*/
    overflow-x: hidden; 
}

html {
  scroll-behavior: smooth;
}
body{
	font-family: 'Poppins', sans-serif;

}
header{
	position:relative;
	z-index: 1000000;
}
p,h1,h2,h3,h4,h4{


    text-shadow: 0 0 30px rgba(211,211,211,1);

}
p{
	font-size: 1.5rem;
}
h3 a{
	color:white;
}
h3 a:hover{
	color:#8436ad;
}
.jumbotron{
	margin-bottom: 0rem !important;
}

.nav-link.active{
	color:#ffce00;
}
.navbar{
	background:transparent !important;
	transition: 0.5s;
}
.navbar.scrolled{
	background: #000 !important;
    transition: 1s;
    height: 90px;
    border-bottom: solid 1px;
    border-color: dimgray;
}


.dropdown-item {
     color: black; 
    /* text-decoration: none; */
    /* background-color: #007bff; */
}

.dropdown-item.active, .dropdown-item:active {
     color: black!important; 
    /* text-decoration: none; */
     background-color: white!important; 
}
.dropdown-item.active:hover, .dropdown-item:hover {
     color: #8436ad!important; 
    /* text-decoration: none; */
     background-color: #f8f9fa!important; 
}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
	color:#8436ad !important;
	background:transparent;
}
.navbar-light .navbar-nav .active>.nav-link:hover{
	color:#000;
}
.navbar-light .navbar-nav .nav-link {
    color: white!important;
}



.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus
{
    color: rgba(225,225,225,1);
}

.navbar-light .navbar-nav .nav-link:hover {
  color:#8436ad !important;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited {
    color: rgba(255,255,255,1);
    font-size:2.5rem;
    font-weight:600;
}
a.nav-link{
background-color: transparent;
padding-left:.5em;
}
a.navbar-brand{
    font-size: 1.25rem!important;
}

.navbar-nav .nav-link {
    padding-right: 0rem!important;
    padding-left: .5rem!important;
}

a.active{
	color:#8436ad;
}

.banner{
	position:relative;
	top:0;
	width: 100%;
	height:100vh;
	background:url(images/Sponsorship.jpg);
	background-size: cover;
	margin-bottom:0; 
}


.banner:before{
	content: '';
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:200px;
	background:linear-gradient(#000,transparent);
	pointer-events: none;
}
.banner:after
{
	content: '';
	position: absolute;
	bottom:0;
	left:0;
	width:100%;

	background:linear-gradient(360deg,#000,transparent);
	pointer-events: none;
}




.sec2:before,
.sec3:before{
	content: '';
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:400px;
	background:linear-gradient(#000,transparent);
	pointer-events: none;
}

.sec2:after,
.sec3:after{
	content: '';
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	height:400px;
	background:linear-gradient(360deg,#000,transparent);
	pointer-events: none;
}

.height100p{
	height:100vh;
}

.h100{
	height:100%;
}

.contentBox{
	position: relative;
	display: flex;
	justify-content:center;
	align-items: center;
	text-align: center;
	z-index: 10;
}

.contentBox h1{
	font-weight:800;
	color: #fff;
	text-transform: uppercase;
	font-size:2rem;
}
.contentBox p{
	
	color: #fff;
	font-size:4.3rem;
	
}
.sec1{
        padding-top: 80px;
    padding-bottom: 100px;
    background: #000;
    width: 100%;
      margin: 0;
  max-width: none;
    /*height: 100vh;*/
}
.headerText {
	color: #fff;
}
.headerText h2{
	font-size:2.5rem;
	margin-bottom: 20px;
}
.placeBox{
	position: relative;
	max-width: 300px;
	height: 240px;
/*	margin:0 auto;*/
	background: #000;
	margin-top:50px; 

}
.placeBox .imgBX{
	width:100%;
	height: 100%;
}
.placeBox .imgBX img{
	object-fit: cover;
	width: 100%;
	

}
.placeBox .content{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	display: flex;
	justify-content: baseline;
	align-items: flex-end;


}

.imgBX h3{
	color:white;
}

.placeBox .content h3{
	position: relative;
	margin:0;
	padding:10px;
	background:rgba(0,0,0,.95);
	color: #fff;
	font-size:20px;
	font-weight: 600;
	width: 100%;
	text-align: center;
}

.placeBox .content h3 span{
	
	font-size:16px;
	font-weight: 500;
	
}
.sec2{
	position: relative;
	/*background:url(/sec20.jpg);*/
	background-size: cover;
	width: 100%;
      margin: 0;
  max-width: none;
    /*height: 100vh;*/
background: rgb(132,54,173);
background: radial-gradient(circle, rgba(132,54,173,1) 13%, rgba(2,0,36,1) 81%);
}
.sec2 h2{
	font-weight: 800;
	color: #fff;
	text-transform: uppercase;
	font-size: 4.5rem;
}
.btnD1{
	border: 2px solid #fff !important;
    color: #000;
    border-radius: 50px !important;
    padding: 15px 50px !important;
    font-size: 1.15rem !important;
    outline: none !important;
    background-color: white;
    font-weight: 500 !important;
    margin-top: 20px !important;
}
.btnD1:hover{
	border: 2px solid #fff !important;
    color: #8436ad !important;
    border-radius: 50px !important;
    padding: 15px 50px !important;
    font-size: 1.15rem !important;
    outline: none !important;
    background-color: white;
    font-weight: 500 !important;
    margin-top: 20px !important;
}
h4{
	font-weight: 500;
	color: #fff !important;
	
	font-size: 2.5rem;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: 80%;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  border-radius: 15px;
}


.carousel-indicators {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: auto 0 !important;
  justify-content: center !important;
  padding: 0 0 0 0;
  text-align: center;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.lilpad{
margin:0;
	padding-top:2rem;
}

.sec3{
	width: 100%;
      margin: 0;
  max-width: none;
    /*height: 100vh;*/
	padding:100px 0;
	padding-bottom: 0;
	background-color: #000;
}
.sec3 .form-control{
	height:50px;
	border: 2px solid rgba(255,255,255,.2);
	border-radius:0;
	border-color:#000;
	font-size: 1.25rem;
}
.sec3 .form-control:focus{
	
	border: 2px solid rgba(255,255,255,1);
	
}

.sec3 .textarea{
	min-height:100px;
}

.sec3 label{
	color:#fff;
	font-size:1.25rem;
}
.sec3 form{
	position: relative;
	z-index:1000;
}
footer{
	background:#000;
	padding:50px 0 0;

}

.sci{
	margin:0;
	padding:0;
	display:flex;
	justify-content: center;
	align-items:center;
}
.sci li{
	list-style:none;
	margin:0 20px;
}
.sci li a{
	color:#777;
	font-size:2em;
	transition:0.5s;
}
.sci li a{
	color:#777;
	font-size:2em;
	transition:0.5s;
}
.sci li a:hover{
	color:#fff;
}
.cpryt{
	margin-top:20px;
	text-align:center;
	color:#777;
}
.cpryt{

}
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;}

  }

span #calendarTitle{
	color:white;
}

/* ------------------- Section Styling - Not needed for carousel styling ------------------- */
.collapse.show{
	background-color: black!important;
}

@media screen and (min-width: 768px) {

.navbar .scrolled{
	background-color: black;
	transition: 0.5s;
}
.navbar{
	
	transition: 0.5s;
}
  .section-white {
     padding: 1.5em 0;
  }

}

@media screen and (min-width: 992px) {

  .container {
    max-width: 930px;
  }
  

}
@media  (min-width: 992px) {

  .navbar-expand-lg .navbar-nav .nav-link{
  	padding-right:1rem;
  	padding-left:1rem;
  }

}
@media  (min-width: 992px) {
.navbar{
	background-color:#fff;
	transition: 0.5s;
}
/*
  .navbar-light .navbar-toggler{
  	background:#fff;
  	border-radius:0;
  	border-color: rgb(255,102,203);
  }
*/
 


  .banner{
  	height: 100vh;
  	padding:100px 0;
  }
  .contentBox h1
  .sec2 h4{
  	font-size:2rem;
  }
}




