@import url("https://fonts.googleapis.com/css?family=Poppins:300,400")
*{
	outline: none!important;	

}
html,body	
{
    width: 100%;
  /* height: 100%;
    margin: 0px;
    padding: 0px;*/
    overflow-x: hidden; 
}


html {
  scroll-behavior: smooth;
}
body{
	font-family: 'Poppins', sans-serif;

}
header{
	position:relative;
	/*z-index: 1000000;*/
}
/*p,h1,h2,h3,h4,h4{*/


/*    text-shadow: 0 0 30px rgba(211,211,211,1);*/

/*}*/
p{
	font-size: 1.5rem;
}
h3 a{
	color:white;
}
a:hover{
  color:#8436ad !important;	
}



.jumbotron{
	padding-top: 0px!important;
	margin-bottom: 0rem !important;
}
	.nav-link.active{		
	color:#ffce00;		
}
.navbar{
	background:transparent !important;
	transition: 0.5s;
}
.navbar.scrolled{
	background: #000 !important;
    transition: 1s;
    height: 90px;
    border-bottom: solid 1px;
    border-color: dimgray;
}



.dropdown-item {
     color: black; 
    /* text-decoration: none; */
    /* background-color: #007bff; */
}
 
.dropdown-item.active, .dropdown-item:active {
     color: black!important; 
    /* text-decoration: none; */
     background-color: white!important; 
}
.dropdown-item.active:hover, .dropdown-item:hover {
     color: #8436ad!important; 
    /* text-decoration: none; */
     background-color: #f8f9fa!important; 
}
.navbar-light .navbar-nav .nav-link:hover {
  color:#8436ad !important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
	color:#8436ad !important;
	background:transparent;
}
.navbar-light .navbar-nav .active>.nav-link:hover{
	color:#000;
}
.navbar-light .navbar-nav .nav-link {
    color: white!important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus
{
    color: rgba(225,225,225,1);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited {
    color: rgba(255,255,255,1);
    font-size:2.5rem;
    font-weight:600;
}



a.nav-link{
background-color: transparent;
padding-left:.5em;
}
 
 
.navbar-nav .nav-link {
    padding-right: 0rem!important;
    padding-left: .5rem!important;
}
 .row{
 	margin-left: 0px!important;
 	
 }
a.active{
    color:#8436ad;
}

.banner{
	position:relative;
	top:0;
	width: 100%;
	height:100vh;
	background:url(https://images.unsplash.com/photo-1533282960533-51328aa49826?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c6356286e3e03c9ace1c1df4eb7721b4&auto=format&fit=crop&w=1930&q=80);
	background-size: cover;
	margin-bottom:0; 
}
.banner:after{
			
				content: '';
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	height:200px;
	/*background-image: linear-gradient(180deg,transparent 31%,white 88%);*/
	pointer-events: none;
}



.sec2:before{
	content: '';
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:400px;
	background:linear-gradient(white,transparent);
	pointer-events: none;
}



.sec2:after{
	content: '';
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:400px;
	background:linear-gradient(white,transparent);
	pointer-events: none;
}


/*.banner:before,*/
/*.sec2:before,*/
/*.sec3:before{*/
/*	content: '';*/
/*	position: absolute;*/
/*	top:0;*/
/*	left:0;*/
/*	width:100%;*/
/*	height:400px;*/
/*	background:linear-gradient(#000,transparent);*/
/*	pointer-events: none;*/
/*}*/
/*.banner:after,*/
/*.sec2:after,*/
/*.sec3:after{*/
	/*content: '';*/
	/*position: absolute;*/
	/*bottom:0;*/
	/*left:0;*/
	/*width:100%;*/
	/*height:200px;*/
	/*background:linear-gradient(360deg,#000,transparent);*/
	/*pointer-events: none;*/
/*}*/

.height100p{
	height:100vh;
}

.h100{
	height:100%;
}


.contentBox h4 a{

    text-shadow:none;

}

/*.contentBox h4{*/

/*    text-shadow: 0 0 6px rgba(0,0,0,1);*/

/*}*/


.contentBox{
	position: relative;
	display: flex;
	justify-content:center;
	align-items: center;
	text-align: center;
	z-index: 10;
}

.contentBox h1{
	font-weight:800;
	color: #fff;
	text-transform: uppercase;
	font-size:2rem;
}
.contentBox p{
	
	color: #fff;
	font-size:2rem;
	
}
.sec1{
        padding-top: 80px;
    padding-bottom: 100px;
    background: #fff;
 width: 100%;		
      margin: 0;		
  max-width: none;		
    /*height: 100vh;*/
}
.headerText {
	color: #000;
}
.headerText-sec3{
	color: white;
}
.headerText h2{
	font-size:2.5rem;
	margin-bottom: 20px;
}
.placeBox{
	position: relative;
	max-width: 300px;
	height: 240px;
/*	margin:0 auto;*/
	background: #000;
	margin-top:50px;
	 /*border: 1px solid #77aaff;*/
  /*  box-shadow:  -1px 1px #77aaff,*/
  /*       -2px 2px #77aaff,*/
  /*       -3px 3px #77aaff,*/
  /*       -4px 4px #77aaff,*/
  /*       -5px 5px #77aaff;*/

/*border: 2px solid #000;*/
   box-shadow: 0 10px 6px -6px #777;

}
.placeBox .imgBX{
	width:100%;
	height: 100%;
}
.placeBox .imgBX img{
	object-fit: cover;
	width: 100%;
	

}
.placeBox .content{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	display: flex;
	justify-content: baseline;
	align-items: flex-end;


}
.placeBox .content h3{
	position: relative;
	margin:0;
	padding:10px;
	background:rgba(0,0,0,.95);
	color: #black;
	font-size:20px;
	font-weight: 600;
	width: 100%;
	text-align: center;
}

.placeBox .content h3 span{
	
	font-size:16px;
	font-weight: 500;
	
}
.sec2{
	padding-top:100px;
		padding-bottom:100px;
	position: relative;
	/*background:url(/sec20.jpg);*/
	background-size: cover;
	width: 100%;		
      margin: 0;		
  max-width: none;
	/*height:100vh;*/
background: rgb(132,54,173);
background: linear-gradient(0deg, rgba(132,54,173,1) 0%, rgba(255,255,255,1) 70%);
}

.sec2 h2{
	font-weight: 800;
	color: #fff;
	text-transform: uppercase;
	font-size: 4.5rem;
}
.sec2 h2{
	font-weight: 800;
	color: #fff;
	text-transform: uppercase;
	font-size: 4.5rem;
}

imgBX{
	color:white;

}
.btnD1{
	border: 2px solid #fff !important;
    color: #000;
    border-radius: 50px !important;
    padding: 15px 50px !important;
    font-size: 1.15rem !important;
    outline: none !important;
    background-color: white;
    font-weight: 500 !important;
    margin-top: 20px !important;
}
h4{
	font-weight: 500;
	color: black !important;
	
	font-size: 2.5rem;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: 80%;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  border-radius: 15px;
}


.carousel-indicators {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: auto 0 !important;
  justify-content: center !important;
  padding: 0 0 0 0;
  text-align: center;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.lilpad{
margin:0;
	padding-top:2rem;
}

.sec3{
	
	padding:100px ;
	padding-bottom: 100px;
background: linear-gradient(0deg, rgba(255,255,255,1) 1%, rgba(132,54,173,1) 67%, rgba(132,54,173,1) 100%, rgba(255,255,255,1) 16%);
}
.sec3 .form-control{
	height:50px;
	border: 2px solid rgba(255,255,255,.2);
	border-radius:0;
	
	font-size: 1.25rem;
}
.sec3 .form-control:focus{
	
	border: 2px solid rgba(255,255,255,1);
	
}

.sec3 .textarea{
	min-height:100px;
}

.sec3 label{
	color:#fff;
	font-size:1.25rem;
}
.sec3 form{
	position: relative;
	z-index:1000;
}
footer{
	background:rgba(132,54,173,1);
    padding-top: 50px;
    
    padding-bottom: 50px;

}

.sci{
	margin:0;
	padding:0;
	display:flex;
	justify-content: center;
	align-items:center;
}
.sci li{
	list-style:none;
	margin:0 20px;
}
.sci li a{
	color:white;
	font-size:3em;
	transition:0.5s;
}

.facebook :hover{
	color:#3C5A99;
}

.twitter :hover{
	color:#00aced;
}

.insta :hover{
	color: #bc2a8d;
}

.cpryt{
	margin-top:20px;
	text-align:center;
	color:#777;
}
.cpryt{

}
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;}

  }

span #calendarTitle{
	color:white;
}

/* ------------------- Section Styling - Not needed for carousel styling ------------------- */


@media screen and (min-width: 768px) {
.navbar{
	background-color:#fff;
	transition: 0.5s;
}
  .section-white {
     padding: 1.5em 0;
  }

}

@media screen and (min-width: 992px) {

  .container {
    max-width: 930px;
  }
  

}
@media  (min-width: 992px) {

  .navbar-expand-lg .navbar-nav .nav-link{
  	padding-right:1rem;
  	padding-left:1rem;
  }

}
@media  (min-width: 992px) {
.navbar{
	background-color:#fff;
	transition: 0.5s;
}
/*
  .navbar-light .navbar-toggler{
  	background:#fff;
  	border-radius:0;
  	border-color: rgb(255,102,203);
  }
*/
 


  .banner{
  	height: 100vh;
  	padding:100px 0;
  }
  .contentBox h1
  .sec2 h4{
  	font-size:2rem;
  }
}


a.btn.btnD1:hover{
	color:#8436ad!important;
}

